*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --theme-one: #f4d7ac;
  --theme-two: #faefc5;
  --theme-three: #b8e1d2;
  --theme-four: #a7bed3;
  --theme-five: #aca7d4;
  --theme-six: #939393;
}
