*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --theme-one: hsla(36, 77%, 82%, 1);
  --theme-two: hsla(48, 84%, 88%, 1);
  --theme-three: hsla(158, 41%, 80%, 1);
  --theme-four: hsla(209, 33%, 74%, 1);
  --theme-five: hsla(247, 34%, 74%, 1);
  --theme-six: hsla(0, 0%, 58%, 1);
}
