.theme_btn-one {
  background-color: var(--theme-one);
}
.theme_btn-two {
  background-color: var(--theme-two);
}
.theme_btn-three {
  background-color: var(--theme-three);
}
.theme_btn-four {
  background-color: var(--theme-four);
}
.theme_btn-five {
  background-color: var(--theme-five);
}
.theme_btn-six {
  background-color: var(--theme-six);
}
h1,
h2 {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
section {
  margin-bottom: 20px;
}
.container {
  width: 304px;
  height: 425.2px;
  background: white;
  padding: 20px;
}
.title {
  font-size: 30px;
  font-weight: 600;
}
.subheader {
  display: grid;
  align-items: flex-end;
  margin-bottom: 10px;
  grid-template-columns: 2fr 0.5fr 1fr;
  grid-gap: 20px;
}
.subheader_counter,
.subheader_input {
  margin-bottom: 10px;
}
.subheader_input {
  width: 62px;
}
.subheader_counter {
  font-size: 16px;
}
.theme {
  padding: 10px 0px;
}
.theme_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.theme_btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  padding: 0;
  /* box-shadow: inset -3px 4px 6px 0px hsla(0, 0%, 70%, 0.5); */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.theme_btn:focus {
  outline-offset: 4px;
  outline-color: hsla(0, 0%, 80%, 0.5);
  border-radius: 50%;
}
.disabled {
  pointer-events: none;
  position: relative;
}
.disabled:before {
  content: "";
  display: block;
  height: 42px;
  width: 42px;
  border: 2px hsla(0, 0%, 70%, 1) solid;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px;
}

/* Slider */

.slide_container {
  width: 100%; /* Width of the outside container */
  display: grid;
  grid-template-columns: 1.25fr 3fr 1fr;
  font-size: 16px;
  margin-bottom: 1em;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: hsla(0, 0%, 70%, 1);
  cursor: pointer;
}

.slider_digit {
  font-variant-numeric: tabular-nums;
}

.slider_digit-wrapper {
  justify-self: flex-end;
}
